
@using BootstrapSupport
@model MiniDropbox.Web.Models.PaquetesPremiumModel
@using (@Html.BeginForm("CreatePaquete", "PaquetesPremium", FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.ValidationSummary(true)
    <fieldset class="form-horizontal">
        <legend>Cree package para ofrecer a sus usuarios<small></small></legend>
        @foreach (var property in Model.VisibleProperties())
        {
            using(Html.ControlGroupFor(property.Name)){
                @Html.Label(property.Name.ToSeparatedWords(), new { @class = "control-label" })
                 <div class="controls">
                     @Html.Editor(property.Name, new { @class = "input-xlarge" })
                     @Html.ValidationMessage(property.Name, null, new { @class = "help-inline" })
                 </div>
            }
        }
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">Create Package</button>
            @Html.ActionLink("Cancel", "Paquetes", null, new { @class = "btn " })
          </div>
    </fieldset>
}
<div>
    @*@Html.ActionLink("Home", "LogIn")*@
</div>
<a><font size="6" color="Red"><a>@ViewData["ErrorPaqPremium"]</a></font></a>
