@using BootstrapSupport
@model List<MiniDropbox.Web.Models.DiskContentModel>

@{
    ViewBag.Title = "MyContent";
    Layout = "~/Views/shared/_BootstrapLayout.narrow.cshtml";
}

<h4><small>@ViewData["Nombre"].ToString()</small></h4>
<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            @if (Model.Count > 0)
            {
                foreach (var property in Model[0].VisibleProperties())
                 {
                     <th>
                         @property.GetLabel().ToSeparatedWords()
                     </th>
                 }
            }
            <th>@Html.ActionLink("Cargar", "SubirArchivo", "Disk", new { @class = "btn btn-mini btn-success" })
                @Html.ActionLink("N.Fold", "NuevoDirectorio", "Disk", new { @class = "btn btn-mini btn-success" })</th>   
            <th></th>
        </tr>
    </thead>
    @{ int index = 0; }
    @foreach (var model in Model)
    {
        ViewData[index.ToString()] = model;
        <tr>
            @foreach (var property in model.VisibleProperties())
            {
                <td>
                    @Html.Display(index + "." + property.Name)
                </td>                    
            }
            <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @{
                            @Html.TryPartial("_actions", model)                            
                            var routevalues = model.GetIdValue();  
                            if (model.IsFolder)
                             {
                                 <li>@Html.ActionLink("Ver", "Ver", routevalues)</li>
                                 <li>@Html.ActionLink("Compartir", "Details", routevalues)</li>
                                 <li class="divider"></li>
                                 <li>@Html.ActionLink("Eliminar", "Delete", routevalues)</li>
                             }
                             else
                             {
                                 <li class="divider"></li>
                                 <li>@Html.ActionLink("Eliminar", "Delete", routevalues)</li>
                             }

                        }
                    </ul>
                </div>
            </td>
        </tr>
            index++;
    }

</table>