@using BootstrapSupport
@model MiniDropbox.Web.Models.InviteFriendsModel
@using (@Html.BeginForm("InviteFriends", "FreeSpace", FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.ValidationSummary(true)
    <fieldset class="form-horizontal">
        <legend>Obtén mas espacio gratuito al invitar a tus amigos a Mini Dropbox.<small></small></legend>
        @foreach (var property in Model.VisibleProperties())
        {
            using(Html.ControlGroupFor(property.Name)){
                @Html.Label(property.Name.ToSeparatedWords(), new { @class = "control-label" })
                 <div class="controls">
                     @Html.Editor(property.Name, new { @class = "input-xlarge" })
                     @Html.ValidationMessage(property.Name, null, new { @class = "help-inline" })
                 </div>
            }
        }
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">Enviar</button>
            @Html.ActionLink("Cancel", "Home", null, new { @class = "btn " })
          </div>
    </fieldset>
}
<div>
    @*@Html.ActionLink("Home", "LogIn")*@
    <a><font size="6" color="Red"><a>@ViewData["InviteFriend"]</a></font></a>
</div>

