@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/shared/_BootstrapLayout.narrow.cshtml";
}

@using BootstrapSupport
@model MiniDropbox.Web.Models.AccountForgotPasswordModel
@using (@Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.ValidationSummary(true)
    <fieldset class="form-horizontal">
        <legend>Recupere su contraseña<small></small></legend>

        <div>
            <legend>Introduzca su dirección de correo electrónico y haga clic en "Enviar".
                En pocos minutos usted recibirá su nueva contraseña con la que podrá acceder de nuevo<small></small></legend>
        </div>
        @foreach (var property in Model.VisibleProperties())
        {
            using(Html.ControlGroupFor(property.Name)){
                @Html.Label(property.Name.ToSeparatedWords(), new { @class = "control-label" })
                <div class="controls">
                    @Html.Editor(property.Name, new { @class = "input-xlarge" })
                    @Html.ValidationMessage(property.Name, null, new { @class = "help-inline" })
                </div>
            }
        }
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Enviar</button>
            @Html.ActionLink("Cancel", "LogIn", null, new { @class = "btn " })
        </div>
    </fieldset>
    <div>
        <legend>Back to login form? @Html.ActionLink("Click here","LogIn", null, new { @class = "btn-link" })</legend>
    </div>
}
